ai-app/main/default/flows/GetHvacBySerialNumber.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Send_Diagnostics_to_Prompt_Template</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>Send Diagnostics to Prompt Template</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Date of recording: {!Loop_Diagnostic_Records.timestamp__c}
Airflow: {!Loop_Diagnostic_Records.Airflow__c},
Duct Pressure: {!Loop_Diagnostic_Records.DuctPressure__c},
Energy Consumption: {!Loop_Diagnostic_Records.EnergyConsumption__c},
Filter Differential: {!Loop_Diagnostic_Records.FilterDifferential__c},
Max Decibels: {!Loop_Diagnostic_Records.MaxDecibels__c},
Refrigerant Levels: {!Loop_Diagnostic_Records.RefrigerantLevels__c},
Temperature Accuracy: {!Loop_Diagnostic_Records.TemperatureAccuracy__c}
</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Diagnostic_Records</targetReference>
        </connector>
    </assignments>
    <description>Gets HVAC diagnostic reports by serial number</description>
    <environments>Default</environments>
    <interviewLabel>GetHvacBySerialNumber {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GetHvacBySerialNumber</label>
    <loops>
        <description>loop through DMO records for HVAC</description>
        <name>Loop_Diagnostic_Records</name>
        <label>Loop Diagnostic Records</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>GetHvacRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Diagnostics_to_Prompt_Template</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>PromptFlow</processType>
    <recordLookups>
        <name>GetHvacRecords</name>
        <label>GetHvacRecords</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Diagnostic_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SerialNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>case.Appliance__r.Mfg_Serial__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <limit>
            <numberValue>30.0</numberValue>
        </limit>
        <object>hvac__dlm</object>
        <sortField>timestamp__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetHvacRecords</targetReference>
        </connector>
        <triggerType>Capability</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
